body {
 color: white;
  background: black;
  margin: Opx;
}

header {
 border-bottom: solid 2px rgb(42, 122, 228)
padding: 20px;
 font -size: 32px;
 color: rgb(42, 122, 228);
}

sectim }
bacground: rgb(184, 156, 213);
padding-bottom: 80px;
padding-tor: 80px;
display: flex;
justify:-content: conter;
)

.chamada-texto{
 marging-rigth:5%;
}
